body {
    margin: 0;
    padding: 0;
    background: #4c95fb;
}

.navbar {
    width: auto;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: #4c95fb;
}

.navbar img {
    width: 70px;
    height: 36px;
    flex-shrink: 0;
    cursor: pointer;
}

.boton {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}

.boton h4 {
    margin: auto;
    color: #02187E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

.layers {
    position: relative;
    width: 100vw; 
}
.layer{
    position: absolute;
}

.layer-1 {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.layer-2 {
    position: absolute;
    width: 30%;
    margin-top: 4.5%;
    z-index: 2;
}

.layer-3 {
    position: absolute;
    width: 43%;
    margin-top: 39.3%;
    margin-left: 29%;
    z-index: 2;
}

.layer-4 {
    position: absolute;
    width: 30%;
    margin-left: 70%;
    z-index: 2;
}

.titulo {
    position: absolute;
    width: 40%;
    margin-left: 30%;
    z-index: 3;
}

.gwen{
    width: 26%;
    margin-top: 23%;
    margin-left: 6%;
    z-index: 3;
}

.spidey{
    width: 35%;
    margin-top: 25%;
    margin-left: 31%;
    z-index: 3;
}

.miles {
    width: 27%;
    margin-top: 20%;
    margin-left: 53%;
    z-index: 2;
}

.tela{
    width: 53%; 
    margin-top: 25%;
    margin-left: -10%;
    z-index: 3;
}

.tela-2{
    width: 53%;
    margin-top: 14%;
    margin-left: 72%;
    z-index: 3;
}

.secVioleta{
    position: absolute;
    width: 100%;
    margin-top: 51%;
    z-index: 2;
}

