@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.navbar {
    width: auto;
    height: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: #4c95fb;
}

.navbar img {
    width: 70px;
    height: 36px;
    flex-shrink: 0;
    cursor: pointer;
}

.boton {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}

.boton h4 {
    margin: auto;
    color: #02187E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

.layers {
    width: 100vw;
    height: auto;
}

.layer {
    position: absolute;
}

#layer-1 {
    width: 100%;
    z-index: 1;
}

#layer-2 {
    width: 30%;
    top: 20.5%;
    z-index: 2;
}

#layer-3 {
    width: 43%;
    top: 92.3%;
    left: 29%;
    z-index: 2;
}

#layer-4 {
    width: 30%;
    left: 70%;
    z-index: 2;
}

#titulo {
    width: 40%;
    left: 30%;
    z-index: 3;
}

#gwen {
    width: 26%;
    top: 58%;
    left: 6%;
    z-index: 3;
}

#spidey {
    width: 35%;
    top: 58%;
    left: 31%;
    z-index: 3;
}

#miles {
    width: 27%;
    top: 52%;
    left: 53%;
    z-index: 2;
}

#tela {
    width: 57%;
    top: 54%;
    left: -13%;
    z-index: 3;
}

#tela-2 {
    width: 35%;
    top: 56%;
    left: 73%;
    z-index: 3;
}

#secVioleta {
    width: 100%;
    top: 116%;
    z-index: 2;
}

#secBlanco {
    width: 100%;
    top: 185%;
    z-index: 1;
}

#juego1 {
    width: 57%;
    top: 188%;
    left: 7%;
    z-index: 3;
}

#duende {
    width: 39%;
    top: 135.5%;
    left: 54%;
    z-index: 4;
}

.rutas {
    left: 2%;
}

#ruta1 {
    width: 47%;
    z-index: 4;
    margin-top: 156%;
}

#ruta2 {
    width: 47%;
    z-index: 4;
    top: 354%;
}

#ruta3 {
    width: 47%;
    z-index: 4;
    top: 380.3%;
    left: 2%;
}

#rectGwen {
    width: 100%;
    z-index: 3;
    top: 350%;
}

#secNegro {
    position: absolute;
    width: 100%;
    top: 426%;
    z-index: 3;
}

#titVengadores {
    width: 25%;
    color: white;
    font-size: 60px;
    top: 469%;
    z-index: 3;
}

.titulo {
    color: white;
    width: 47%;
    top: 145%;
    left: 8%;
    z-index: 3;
}

.titulo h1 {
    font-size: 70px;
    margin: auto;
}

.titulo p {
    font-size: 24.5px;
}

.contenedorRecuadros {
    display: flex;
    top: 270%;
    left: 10%;
    z-index: 2;
}

.descripcion {
    display: flex;
    width: 25%;
    margin: 0px 40px;
    flex-direction: column;
}

.descripcion p {
    font-size: 18px;
}

.fondo {
    margin: 240% 200px 0 200px;
}


#cielo {
    position: absolute;
    z-index: 3;
}

#pasto {
    position: absolute;
    z-index: 4;
}

#paisaje {
    position: absolute;
    z-index: 3;
}

.fondo #cielo,
#pasto,
#paisaje {
    width: 80%;
    height: 744px
}

.vengadores {
    top: 400%;
}

#vengador1 {
    width: 43%;
    top: 490%;
    left: 13%;
    z-index: 3;
}

#vengador2 {
    width: 35%;
    top: 467%;
    left: 45%;
    z-index: 3;
}

#vengador3 {
    width: 37%;
    top: 516%;
    left: 60%;
    z-index: 3;
}

#secBlanco2 {
    width: 100%;
}

.contenedorDemos {
    display: inline;
    gap: 20px;
    top: 600%;
    left: 10%;
    z-index: 4;
}

.demo {
    display: grid;
    grid-template-columns: auto 1fr;
}

.demo img {
    width: 140%;
    margin-bottom: 23%;
    height: auto;
}

.info h1 {
    font-size: 47px;
    font-weight: 100;
}

.info {
    width: 60%;
    font-size: 24px;
    margin-left: 24%;
}

.parrafoYBoton {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 8%;
}

.parrafoYBoton h1 {
    color: white;
    font-size: 60px;
}

.parrafoYBoton .boton {
    width: 36%;
    height: 60px;
}

#secBlanco3 {
    width: 100%;
    top: 877%;
    z-index: 1;
}

.personajes {
    position: absolute;
    top: 910%;
    left: 20%;
}

#gwen2 {
    width: 380px;
    z-index: 3;
}

#spidey2 {
    width: 550px;
    z-index: 3;
    left: 275px;
}

#miles2 {
    width: 420px;
    left: 800px;
    z-index: 3;
}

.fondoPreFooter {
    width: 100%;
    height: 1712px;
    background: linear-gradient(0deg, #F7E3D8 21.2%, #8FBEFC 81.48%);
    top: 992%;
}

.title {
    position: absolute;
    width: 50%;
    display: flex;
    top: 5%;
    left: 27%;
    flex-direction: column;
}

.title h1 {
    font-size: 70px;
    text-align: center;
}

.suscripcion{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}
.sub {
    width: 75%;
    height: 85px;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;
    box-shadow: 0px 5px 0px 0px #02187E;
}
.sub::placeholder{
    position: absolute;
    left: 5%;
    letter-spacing: 3px;
    font-size: 18px;
}
.btnSub {
    width: 25%;
    height: 105px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 0px 5px 0px 0px #02187E;
}
.advertencias {
    display: flex;
    flex-direction: column;
}
.advertencias p{
    width: 75%;
    font-size: 25px;
    margin: 38px 60px;
}
.advertencias img{
    width: 30%;
    margin-left: 6%;
}

.subrayado{
    text-decoration: underline;
}
#edificios{
    width: 100%;
    /* height: 2000px; */
    margin-top: 34%;
}
#miles2D{
    width: 6.5%;
    top: 87%;
    left: 17.3%;
}
#gwen2D{
    width: 4%;
    right: 54%;
    top: 81%;
}
#spidey2D{
    width: 6%;
    top: 73%;
    right: 16%;
}

.fondoConsolas{
    display: flex;
    width: 100%;
    background: #242424;
    height: 75px;
    justify-content: center;
}
.fondoDerechosYRedes{
    background: #5E5E5D;
    height: 830px;
}
.derechosYRedes{
    width: 54.3%;
    letter-spacing: 3px;
    font-size: 24px;
    left: 21%;
    top: 106%;
    color: white;
}
#redes{
    margin-top: 2%;
}