@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/*Estilos generales para el cuerpo de la página*/
body {
    max-width: 1280px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
    overflow-x: hidden;
    margin: 0 auto;
}


/*Barra de navegación*/

.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    width: 1280px;
    height: 120px;
    background: #4c95fb;
    z-index: 2000;
    transition: top 0.3s ease;
}

.navbarContainer {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.navbarContainer > * {
    flex: 1;
}

.navbarMedio {
    opacity: 0;
    display: flex;
    justify-content: center;
}
.navbarDerecha {
    display: flex;
    justify-content: end;
}
/*Botón hamburguesa*/
 .hamburguesa {
    width: 70px;
    height: 42px;
    flex-shrink: 0;
    cursor: pointer;
}
.hamburguesa rect {
    transition: all 0.4s ease;
    transform-origin: center;
}
/* Estilo para la animación de cruz */
.hamburguesa.cruz #barra1 {
    transform: rotate(45deg) translate(0.5px, 10px);
}
.hamburguesa.cruz #barra2 {
    transition: 0.1s ease;
    opacity: 0;
    stroke-opacity: 0;
}
.hamburguesa.cruz #barra3 {
    transform: rotate(-45deg) translate(6px, -10px);
}
.ocultar {
    opacity: 0; /* Establecemos la opacidad a 0 para ocultar la hamburguesa */
    pointer-events: none; /* Desactivamos eventos en la hamburguesa para que no sea clickeable */
}
/*Boton de Comprar*/
.boton {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}
.btnAnimado{
    transition: all 0.3s ease;
}
.btnAnimado:hover{
    background-color: #fff200;
    transform: scale(1.02);
}
.btnAnimado h4:hover{
    color: blue;
}
.boton h4 {
    margin: auto;
    color: #02187E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

/*Capas*/
.primerFondo {
    margin-top: 100px;
    width: 1280px;
    height: 799px;
    position: relative;
}
.layerInicial{
    position: absolute;  
}
.layer {
    position: absolute;
    
}
.invisible{
    opacity: 0;
}

/*Edificios*/
#layer1 {
    width: 1280px;
    height: 780px;
    z-index: 1;
}

#layer2 {
    top: -0.3%;
    z-index: 2;
}

#layer3 {
    top: 59.8%;
    left: 30%;
    z-index: 2;
}

#layer4 {
    top: -4%;
    left: 70%;
    z-index: 2;
}

/*Titulo del juego*/
#titulo {
    width: 520px;
    right: 31%;
    z-index: 3;
}

/*Spidermans*/
#gwen {
    top: 30%;
    left: 7%;
    z-index: 3;
}

#spidey {
    top: 31%;
    left: 32%;
    z-index: 3;
}

#miles {
    top: 23%;
    left: 55%;
    z-index: 2;
}

/*Telarañas*/
#tela {
    top: 28%;
    z-index: 3;
}

#tela2 {
    width: 23%;
    top: 29.5%;
    left: 77.1%;
    z-index: 3;
}
.fondoVioleta {
    max-width: 1280px;
}

/*Parte con fondo violeta*/
#secVioleta {
    width: 1280px;
    top: 78%;
    z-index: 2;
}

.titulo {
    color: white;
    width: 47%;
    top: 104%;
    left: 8%;
    z-index: 3;
}

.titulo h1 {
    font-size: 60px;
    margin: auto;
}

.titulo p {
    font-size: 20px;
    width: 95%;
}


#juego1 {
    top: 144%;
    left: 7.3%;
    z-index: 3;
}

#duende {
    top: 600px;
    left: 57%;
    z-index: 4;
}

/*Parte con fondo blanco*/
#secBlanco {
    width: 100%;
    top: 167%;
    z-index: 1;
}

.contenedorRecuadros {
    display: flex;
    top: 213%;
    left: 5.2%;
    z-index: 2;
}

.descripcion {
    display: flex;
    width: 26.2%;
    margin: 0px 33px;
    flex-direction: column;
    opacity: 0; /* Comienza oculto */
    transform: translateY(20px); /* Desplazado hacia abajo */
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.descripcion.visible {
    opacity: 1;
    transform: translateY(0);
}
.descripcion p {
    font-size: 18.3px;
}
#card1{
    transition-delay: 0s;
}
#card2{
    transition-delay: 0.2s;
}
#card3{
    transition-delay: 0.4s;
}
.animacionCard {
    opacity: 1;
    transform: translate(0px, 0px);
  }

/*Parte con fondo de Gwen*/
#rectGwen {
    z-index: 4;
    top: 289%;
}
.rutas {
    left: 2%;
}

.cardRuta{
    width: 546px;
    height: 326px;
    position: absolute;
    background-size: cover;
    transition: all 0.2s ease-in;
    z-index: 5;
}
.cardRuta:hover {
    cursor: pointer;
    scale: 1.1;
    z-index: 10;
  }

#ruta1 {
    transform: rotate(-13.078deg);
    top: 275%;
    /* top: 269%; */
    left: 3.7%;

}

#ruta2 {
    transform: rotate(-26.474deg);

    top: 298%;
    /* top: 286%; */
    left: 2.8%;

}

#ruta3 {
    transform: rotate(-36.016deg);

    top: 325%;
    /* top: 309.5%; */
    left: 5.4%;

}

/*Parte con fondo negro*/
#secNegro {
    top: 348%;
    z-index: 3;
}

/*Contenedor de la seccion de vengadores*/
.fondoPaisaje {
    top: 401%;
    left: 8%;
}

#titVengadores {
    width: 38%;
    top: 374%;
    left: 8%;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    z-index: 3;
}

/*Capas del fondo de los vengadores*/
#cielo {
    z-index: 3;
}

#pasto {
    z-index: 4;
}

#paisaje {
    z-index: 3;
}


/*Capas de los vengadores*/
.vengadores {
    top: 400%;
}

#vengador1 {
    top: -94px;
    left: 26px;
    z-index: 3;
}

#vengador2 {
    top: -256px;
    left: 446px;
    z-index: 3;
}

#vengador3 {
    top: 104px;
    left: 670px;
    z-index: 3;
}

/*Segunda parte con fondo blanco*/
#secBlanco2 {
    top: 448%;
    z-index: 2;
}

.contenedorDemos {
    box-sizing: border-box;
    width: 100%;
    padding: 0 100px;
    top: 480%;
    z-index: 4;
}

#titleContenedor {
    font-size: 60px;
}

.demo {
    position: relative;
    grid-template-columns: auto 1fr;
}

.demoImgsContainer{
    width: 552px;
    height: 1650px;
    display: flex;
    flex-direction: column;
    position: absolute;
  
}

.demoImgs {
    width: 100%;
    height: 302px;
    position: sticky;
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.demoImgs img {
    position: absolute;
    width: 552px;
    height: auto;
    transition: opacity 0.3s ease;
}

.demoInfos {
    position: relative;
    left: 601px;
    width: 467px;
    height: 1650px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
  
}

.demoInfos .info {
    font-weight: 100;
    transition: opacity 0.3s ease;
}

.info h1 {
    margin-top: 0;
    font-size: 37px;
    font-weight: 100;
    line-height: 94.5%;
    /* 37.8px */
}

.info p {
    font-size: 20px;
    margin-bottom: 0;
}

/*Segunda parte con fondo negro*/
.tituloYBoton {
    position: relative;
    top: 727%;
    left: 8%;
    color: white;
    font-size: 60px;
}

.tituloYBoton h1 {
    margin: 0;
    color: white;
    width: 66%;
    font-size: 60px;
}

.tituloYBoton .boton {
    width: 27%;
    height: 60px;
}

/*Tercera parte con fondo blanco*/
#secBlanco3 {
    top: 753%;
    z-index: 1;
}

/*Otras capas de spidermans*/
.personajes {
    display: flex;
    position: relative;
    top: 751%;
    left: 17%;
}


.spidey2{
    left: 15%;
}
.miles2{
    left: 45%;
}

.gwen2, .spidey2, .miles2 {
    cursor: pointer;
    z-index: 3;
    transition: all 0.3s ease;
}

/*Otro fondo con edificios*/
.fondoPreFooter {
    width: 1280px;
    height: 1488px;
    background: linear-gradient(0deg, #F7E3D8 21.2%, #8FBEFC 81.48%);
    top: 843%;
}

.title {
    position: absolute;
}

.title h1 {
    margin: 152px 232px 40px 232px;
    color: #000;
    text-align: center;
    font-size: 59px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

/*Input para suscribirse*/
.suscripcion {
    display: flex;
    width: 69%;
    justify-content: center;
    margin: 0px 250px 0px 250px;
}

.sub {
    width: 75%;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;
    box-shadow: 0px 5px 0px 0px #02187E;
}

.sub::placeholder {
    position: absolute;
    left: 5%;
    letter-spacing: 3px;
    font-size: 18px;
}

.btnSub {
    width: 25%;
    height: 104.2px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 0px 5px 0px 0px #02187E;
}

.advertencias {
    display: flex;
    flex-direction: column;
}

.advertencias p {
    width: 47%;
    font-size: 21px;
    margin: 37px 400px 0px 300px;
}

.advertencias img {
    width: 19%;
    margin-top: 2%;
    margin-left: 23.4%;
}

.subrayado {
    text-decoration: underline;
}

/*Capas para el nuevo fondo con edificios*/
#edificios {
    margin-top: 60%;
}

/*Capas de spidermans en 2D*/
#miles2D {
    top: 89.3%;
    left: 17.3%;
}

#gwen2D {
    right: 53.6%;
    top: 85%;
}

#spidey2D {
    top: 78%;
    right: 15%;
}

/*Fondo donde se encuentran las consolas que corren el juego*/
.fondoConsolas {
    display: flex;
    width: 100%;
    background: #242424;
    height: 75px;
    justify-content: center;
    position: absolute;
    top: 100%;
}

/*Fondo de los derechos legales y las redes sociales*/
.fondoDerechosYRedes {
    background: #5E5E5D;
    height: 692px;
}

.derechosYRedes {
    width: 64%;
    letter-spacing: 3px;
    font-size: 18px;
    left: 8%;
    top: 106%;
    color: white;
}

#redes {
    margin-top: 2%;
}


.inactive {
    opacity: 0;
}
.active {
    opacity: 1;
}

/*.fondoNegro{
    position: absolute;
    z-index: 6;
    height: 430px;
    width: 1280px;
    clip-path: polygon(0 0, 100% 23%, 100% 77%, 0 100%);
    background-color: black;
}*/

/* Variables */
.personaje {
    z-index: 10;
    position: absolute;
    width: 69px;
    height: 52.8px;
    background-image: url('/images/megaspritemiles-removebg-preview.png');
    background-size: cover;
    background-size: auto 100%;
    transition: background-position 0.5s steps(6) infinite;
}

/* Animación al pasar el mouse */
.personaje:hover {
    animation-name: animacionHover;
    animation-timing-function: steps(6);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  /* Keyframes */
  @keyframes animacionHover {
    0% { background-position: 0px; } /* posición inicial del spritesheet */
    100% { background-position: -317px; }
  }
