@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Estilos generales para el cuerpo de la p치gina*/
body {
    max-width: 1280px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: black;
    overflow-x: hidden;
    margin: 0 auto;
}
.lineaContainer{
    border: solid red 2px;
    z-index: 1000;
    position: absolute;
    width: 1080px;
    height: 95vh;
    margin: auto;
}
.container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Barra de navegaci칩n*/
.navbar {
    width: 1280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4c95fb;
}

/*Bot칩n hamburguesa*/
.navbar img {
    width: 70px;
    height: 42px;
    margin-left: 90px;
    flex-shrink: 0;
    cursor: pointer;
}

/*Boton de Comprar*/
.boton {
    width: 200px;
    height: 50px;
    margin-right: 104px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    cursor: pointer;
}

.boton h4 {
    margin: auto;
    color: #02187E;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
}

/*Capas*/
.primerFondo {
    overflow-x: hidden;
    width: 1280px;
    height: 799px;
    position: relative;
}

.layer {
    position: absolute;
}

/*Edificios*/
#layer1 {
    width: 1280px;
    height: 780px;
    z-index: 1;
}

#layer2 {
    top: -0.3%;
    z-index: 2;
}

#layer3 {
    top: 59.8%;
    left: 30%;
    z-index: 2;
}

#layer4 {
    top: -4%;
    left: 70%;
    z-index: 2;
}

/*Titulo del juego*/
#titulo {
    width: 520px;
    right: 31%;
    z-index: 3;
}

/*Spidermans*/
#gwen {
    top: 31%;
    left: 7%;
    z-index: 3;
}

#spidey {
    top: 31%;
    left: 32%;
    z-index: 3;
}

#miles {
    top: 23%;
    left: 55%;
    z-index: 2;
}

/*Telara침as*/
#tela {
    top: 28%;
    left: -14.5%;
    z-index: 3;
}

#tela2 {
    top: 29.5%;
    left: 77.5%;
    z-index: 3;
}

.fondoVioleta {
    max-width: 1280px;
}

/*Parte con fondo violeta*/
#secVioleta {
    width: 1280px;
    top: 78%;
    z-index: 2;
}

.titulo {
    color: white;
    width: 47%;
    top: 104%;
    left: 8%;
    z-index: 3;
}

.titulo h1 {
    font-size: 60px;
    margin: auto;
}

.titulo p {
    font-size: 20px;
    width: 95%;
}


#juego1 {
    top: 144%;
    left: 7.3%;
    z-index: 3;
}

#duende {
    top: 96%;
    left: 57%;
    z-index: 4;
}

/*Parte con fondo blanco*/
#secBlanco {
    width: 100%;
    top: 167%;
    z-index: 1;
}

.contenedorRecuadros {
    display: flex;
    top: 213%;
    left: 5.2%;
    z-index: 2;
}

.descripcion {
    display: flex;
    width: 26.2%;
    margin: 0px 33px;
    flex-direction: column;
}

.descripcion p {
    font-size: 18.3px;
}

/*Parte con fondo de Gwen*/
#rectGwen {
    z-index: 4;
    top: 289%;
}


.rutas {
    left: 2%;
}

#ruta1 {
    top: 269%;
    left: 3.7%;
    z-index: 5;
}

#ruta2 {
    top: 286%;
    left: 2.8%;
    z-index: 5;
}

#ruta3 {
    top: 309.5%;
    left: 5.4%;
    z-index: 5;
}

/*Parte con fondo negro*/
#secNegro {
    top: 348%;
    z-index: 3;
}

/*Contenedor de la seccion de vengadores*/
.fondoPaisaje {
    top: 401%;
    left: 8%;
}

#titVengadores {
    width: 38%;
    top: 374%;
    left: 8%;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    z-index: 3;
}

/*Capas del fondo de los vengadores*/
#cielo {
    z-index: 3;
}

#pasto {
    z-index: 4;
}

#paisaje {
    z-index: 3;
}


/*Capas de los vengadores*/
.vengadores {
    top: 400%;
}

#vengador1 {
    top: 390%;
    left: 9%;
    z-index: 3;
}

#vengador2 {
    top: 369%;
    left: 42%;
    z-index: 3;
}

#vengador3 {
    top: 414%;
    left: 60%;
    z-index: 3;
}

/*Segunda parte con fondo blanco*/
#secBlanco2 {
    top: 448%;
    z-index: 2;
}

.contenedorDemos {
    top: 480%;
    left: 100px;
    z-index: 4;
}

#titleContenedor {
    font-size: 60px;
}

.demo {
    display: grid;
    grid-template-columns: auto 1fr;
}

.demo img {
    margin-bottom: 23%;
    height: auto;
}

.info {
    font-weight: 100;
    margin-left: 57px;
    margin-right: 100px;

}

.info h1 {
    font-size: 37px;
    font-weight: 100;
    line-height: 94.5%;
    /* 37.8px */
}

.info p {
    font-size: 20px;
}

/*Segunda parte con fondo negro*/
.parrafoYBoton {
    margin-top: 7%;
    color: white;
    font-size: 60px;
}

.parrafoYBoton h1 {
    margin: 0;
    color: white;
    width: 66%;
    font-size: 60px;
}

.parrafoYBoton .boton {
    width: 27%;
    height: 60px;
}

/*Tercera parte con fondo blanco*/
#secBlanco3 {
    top: 753%;
    z-index: 1;
}

/*Otras capas de spidermans*/
.personajes {
    position: absolute;
    top: 776%;
    left: 8%;
}

#gwen2 {
    left: 78px;
    z-index: 3;
}

#spidey2 {
    z-index: 3;
    left: 275px;
}

#miles2 {
    left: 665px;
    z-index: 3;
}

/*Otro fondo con edificios*/
.fondoPreFooter {
    width: 1280px;
    height: 1488px;
    background: linear-gradient(0deg, #F7E3D8 21.2%, #8FBEFC 81.48%);
    top: 843%;
}

.title {
    position: absolute;
    width: 50%;
    display: flex;
    top: 5%;
    left: 27%;
    flex-direction: column;
}

.title h1 {
    color: #000;
    text-align: center;
    font-size: 53px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

/*Input para suscribirse*/
.suscripcion {
    display: flex;
    width: 126%;
    justify-content: center;
    margin: 0;
}

.sub {
    width: 75%;
    height: 85px;
    font-size: 18px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;
    box-shadow: 0px 5px 0px 0px #02187E;
}

.sub::placeholder {
    position: absolute;
    left: 5%;
    letter-spacing: 3px;
    font-size: 18px;
}

.btnSub {
    width: 25%;
    height: 105px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 0px 5px 0px 0px #02187E;
}

.advertencias {
    display: flex;
    flex-direction: column;
}

.advertencias p {
    width: 75%;
    font-size: 25px;
    margin: 38px 60px;
}

.advertencias img {
    width: 30%;
    margin-left: 9%;
}

.subrayado {
    text-decoration: underline;
}

/*Capas para el nuevo fondo con edificios*/
#edificios {
    margin-top: 60%;
}

/*Capas de spidermans en 2D*/
#miles2D {
    top: 89.3%;
    left: 17.3%;
}

#gwen2D {
    right: 53.6%;
    top: 85%;
}

#spidey2D {
    top: 78%;
    right: 15%;
}

/*Fondo donde se encuentran las consolas que corren el juego*/
.fondoConsolas {
    display: flex;
    width: 100%;
    background: #242424;
    height: 75px;
    justify-content: center;
}

/*Fondo de los derechos legales y las redes sociales*/
.fondoDerechosYRedes {
    background: #5E5E5D;
    height: 692px;
}

.derechosYRedes {
    width: 64%;
    letter-spacing: 3px;
    font-size: 18px;
    left: 8%;
    top: 106%;
    color: white;
}

#redes {
    margin-top: 2%;
}

/*.fondoNegro{
    position: absolute;
    z-index: 6;
    height: 430px;
    width: 1280px;
    clip-path: polygon(0 0, 100% 23%, 100% 77%, 0 100%);
    background-color: black;
}